body {
    margin: 0;
    background-color: hsl(0, 0%, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    width: min(100%, 500px);
    overflow: hidden;
    border-radius: 15px;
}

#display {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    background-color: hsl(0, 0%, 20%);
    border: none;
    text-align: left;
    color: aliceblue;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    aspect-ratio: 1;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: hsl(0, 0%, 30%);
    color: aliceblue;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operators {
    background-color: hsl(39, 100%, 50%);
}

.operators:hover {
    background-color: hsl(39, 100%, 60%);
}

.operators:active {
    background-color: hsl(39, 100%, 70%);
}