body{
    background-color: black;
}

body::selection{
    color: aliceblue;
    background-color: hsla(0, 0%, 35%, 0.785);
}
h1{
    color: hsla(133, 63%, 75%, 0.767);
}

#P1{
    color: hsl(0, 77%, 61%);
}

#P2{
    color: hsla(55, 77%, 61%, 0.842);
}

#P3{
    color: hsl(209, 77%, 55%);
}

#P4{
    color: hsl(283, 71%, 64%);
}

